* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}

body{
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    background-color: #0c1821;
    /* padding: 40px 40px; */
    box-shadow: 1px 1px 5px rgba(255,255,255,.25), 0 15px 90px 30px rgba(0,0,0,.35);
}

.timer{
    font-size: 6rem;
    color: #eafdfa;
    font-weight: lighter;
    /* margin: 20px; */
}

span{
    margin: 10px
}

.date{
    color: white;
}